body{
    padding-top: 48px;
    background-color: #eeeeee;
}
.header li{
    display: inline-block;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;

}
.header ul{
    text-align: right;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #7d7d7d;
}
a:hover{
    color: darkred;
}
li:nth-child(1){
    margin-right: 45px;
}
li:nth-child(2){
    margin-right: 38px;
}
.slider{
    padding-top: 0;
}
.text>p:nth-child(1){
    font-family: Raleway;
    font-weight: 900;
    text-align: right;
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;

}
.text>p:nth-child(2){
    font-family: Roboto;
    font-weight: 200;
    text-align: right;
    font-size: 24px;
    color: #a2a2a2;
    margin-top: 0;
    margin-bottom: 0;
}
.text>p:nth-child(3){
    font-family: Roboto;
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    color: #e10011;
    margin-top: 33px;
    margin-bottom: 0;
}
.text{
    margin-left: -26px;
}
.photo img{
    margin-left: 104px;
}
.btn{
    margin-top: 87px;
}
form{
    text-align: center;
}
.description{
    text-align: center;
    background-color: #ffffff;
    padding-top: 50px;
    margin-top: 50px;
    padding-right: 72px;
    padding-left: 72px;
}
.description p:nth-child(1){
    font-family: Raleway;
    font-weight: 900;
    font-size: 48px;
}
.description p:nth-child(3){
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
}
.gallery>div.row:nth-child(1){
    margin-bottom: 20px;
}

.gallery__item, .gallery__item-animated {
    position: relative;
}
.gallery__item .gallery__overlay {
    display: none;
}
.gallery__item:hover .gallery__overlay {
    display: block;
}
.gallery__item-animated .gallery__overlay {
    opacity: 0;
    transition: .3s;
    overflow: hidden;
}
.gallery__item-animated:hover .gallery__overlay {
    opacity: 1;
}
.gallery__item-animated .gallery__text {
    transform: translateY(100%);
    opacity: 0;
    transition: .3s;
}
.gallery__item-animated:hover .gallery__text {
    transform: translateY(0);
    opacity: 1;
}
.gallery__overlay {
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery__text {
    position: absolute;
    bottom: 0;
    padding: 30px;
    font-size: 2em;
    text-align: left;
    overflow: auto;
    max-height: 100%;
}
.gallery__text:after {
    width: 30%;
    height: 4px;
    background-color: white;
    content: '';
    display: block;
    margin-top: 15px;
}
.gallery__text h3 {
    margin: 0;
}